.separador {
  width: 80%;
  height: 30px;
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-style: solid;
  border-color: grey;
}

#divLogiId {
  background-color: rgba(128, 128, 128, 0.253);
  border: 1px black solid;
}

#prueba2 {
  background-color: rgba(128, 128, 128, 0.61);
  border: 1px black solid;
}

#divUser {
  background-color: rgba(128, 128, 128, 0.623);
}
#formAdmin {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
#usernameId {
  margin: 10px;
  height: 30px;
}
#passwordId {
  margin: 10px;
  height: 30px;
}
#usernameError {
  display: none;
}
#passwordError {
  display: none;
}
